.feedback {
  &__stars {
    display: block;
    margin: 20px auto 40px auto;
    width: 187px;
  }

  &__input {
    width: 90%;
    max-width: 320px;
    margin-top: 10px;
    padding: 6px 10px;

    background-color: $color-blue-light-2;
    border: none;
    outline: 0;
  }

  &__button {
    width: 90%;
    max-width: 320px;
    margin-top: 12px;
    padding: 0;
    bottom: 20px;
    text-align: center;

    @media only screen and (min-width: $breakpoint-tablet) {
      left: 0;
      position: relative;
      margin-top: 30px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
  }
}
